{% extends "base.html" %}

{% block content %}
<div class='container'>
<div class="jumbotron">
  <h1 class="display-5">JOBBERMAN</h1>
  <p class="lead">Joberman makes<br> information accesible <br>from multiple sources<br> worldwide</p>
  <hr class="my-4">
  <p>Joberman makes information from multiple sources accesible on a daily basices billion of people benefit from the services of jobberman.Since 2018 jobberman is active in the search engine.Nowadays people from all over the world uses the version of their their search engine to help uses find what they are looking for </p>
  
</div>
</div>
{% endblock %}